
.playground-inp {
  position: absolute;

  /* width: auto;
  height: auto; */
  /* max-width: fit-content; */
  padding: 10px;
}
.playground-inp:hover{
  outline: 1px solid #FF0000;
}
.show-selected{
  outline: 1px solid #FF0000;
}


/* @media only screen and (max-width: 600px) {
.playground-main{
  width: 50%;
}
} */